.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

.buttonContainer {
	margin-top: 50px;
	margin-bottom: 50px;
	display: flex;
	justify-content: center;
}

.getInfoButton {
	cursor: pointer;
	width: 200px;
	height: 50px;
	background-color: green;
	border-radius: 50px;
	text-align: center;
	align-items: center;
	display: flex;
	justify-content: center;
}
